@model IEnumerable<BingolSinema.Models.Film>

@{
    ViewBag.Title = "Yönetici Paneli";
}

<h2>Yönetici Paneli</h2>

<a href="@Url.Action("FilmEkle", "Admin")" class="btn btn-success">Film Ekle</a>
<a href="@Url.Action("SeansEkle", "Admin")" class="btn btn-primary">Seans Ekle</a>
<a href="@Url.Action("SalonEkle", "Admin")" class="btn btn-warning">Salon Ekle</a> <!-- New Button for SalonEkle -->
<a href="@Url.Action("AdminOl","Admin")" class="btn btn-warning">Admin Ekle</a> <!-- Admin ekleme Butonu -->


<h3>Mevcut Filmler</h3>
<table class="table">
    <thead>
        <tr>
            <th>Film Adı</th>
            <th>Yönetmen</th>
            <th>Yıl</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var film in Model)
        {
            <tr>
                <td>@film.FilmAdi</td>
                <td>@film.Yönetmen</td>
                <td>@film.Yil</td>
            </tr>
        }
    </tbody>
</table>
